.container {
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
}

.main {
  background: white;
  max-width: 500px;
  height: 100%;
  padding: 1px;
}

.locStyle {
  margin-top: 16px;
  width: 70%;
}


.progress {
  margin: 100px;
  text-align: center;
}
